@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --secondary:#1a7ad4;
    --spacing:2.5em;
}


*
{
margin:0;
padding:0;
box-sizing: border-box;
border:none;
font-family:"Montserrat",serif;  
}

body {  
    margin: 0;  
    font-family:"Montserrat", Arial, sans-serif;  
}  

.container {  
    width: 90%;  
    max-width: 1200px;  
    margin: 0 auto;  
}  

.logoImg{
    max-width: 170px;
    margin-left:60px  ;
}


nav {  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    padding: 10px 0;  
    margin-bottom: var(--spacing);
}  
.menu-toggle {  
    display: none; /* Esconder el checkbox por defecto */  
}  

.hamburger {  
    display: none; /* Esconder el icono de hamburguesa por defecto */  
    flex-direction: column;  
    cursor: pointer;  
}  

.hamburger .bar {  
    height: 3px;  
    width: 25px;  
    background-color: #333;  
    margin: 3px 0;  
    transition: all 0.3s ease;  
}  


.menu {  
    list-style: none;  
    display: flex;  
}  
ul a, ul span
{
    font-weight:700;
    background-image: linear-gradient(
        0deg, #111,#111);
    background-repeat: no-repeat;
    background-size: 0 2px;
    padding-bottom: 5px;
    background-position: 50% bottom;
}

ul a:hover,
ul span:hover,
.controls span:hover,
.controls span:hover:focus{
    background-size: 100% 2px;
    background-image: linear-gradient(
        0deg, var(--secondary), var(--secondary)
    );
}


.menu li {  
    margin-left: 20px;  
}  

.menu a {  
    text-decoration: none;  
    color: #333;  
}  

.hero {  
    display: flex;  
    align-items: center;  
    justify-content: space-between;  
    padding: 40px 0;  
}  

.hero-title {  
    font-size: 2.5rem; /* Ajusta el tamaño según necesites */  
}  

.hero-paragraph {  
    font-size: 1.2rem;  
}  

.hero-image {  
    max-width: 40%; /* Cambia según el diseño deseado */  
}  

.hero-rocket {  
    max-width: 100%;  
    height: auto;  
    transform: rotate(-50deg); /* Rota 20 grados hacia la izquierda */
    transition: transform 1s;
    animation: rebote 3s infinite; /* Duración de la animación y repetición infinita */
        }

        @keyframes rebote {
            0%, 20%, 50%, 80%, 100% {
                transform: translateY(0); /* Posición original */
            }
            40% {
                transform: translateY(-30px); /* Sube 30px */
            }
            60% {
                transform: translateY(-15px); /* Sube 15px */
            }
}  

.btn-CTA {  
    background-color: #007bff;  
    color: white;  
    border: none;  
    padding: 10px 20px;  
    cursor: pointer;  
    border-radius:15px;
    margin-top: 10px;
    margin-left:120px;
}  

.btn-CTA-message {  
    text-decoration: none; /* Evita el subrayado en el texto */  
    color: white;  
}  

.description {  
    display: flex;  
    margin: 40px 0px; 
    justify-content: center;
}

.description-image {  
    max-width: 50%;  
}  

.teamwork-image {  
    max-width: 300px; /* Asegura que la imagen sea responsiva */  
    height: auto;
    margin-bottom: 20px; /* Mantiene la proporción */  
}  

.description-article {  
    padding-left: 20px; /* Espaciado entre imagen y texto */  
    margin:20px 0;

}  

@media (max-width: 768px) {  
    .hero {  
        flex-direction: column;  
        text-align: center;  
    }  

    .hero-image {  
        max-width: 100%;  
    }  

    .description {  
        flex-direction: column;  
        text-align: center;  
    }  

    .description-image {  
        max-width: 100%;  
    }  
    
    .btn-CTA{
        margin: 20px auto;
    }
}